body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
}

#game-display {
  display: grid;
  height: 80vmin;
  width: 80vmin;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  background-color: rgb(15, 158, 15);
  border: 5px solid rgb(83, 53, 7);
  border-radius: 5px;

}

#game-info {
  display: grid;
  height: 80vmin;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(5, 1fr);
  margin-left: 100px;
}

.snakeBody {
  background-color: rgb(121, 16, 131);

}

.upgrade {
  background-color: rgb(255, 0, 0);
  border: 3px solid rgb(233, 180, 5);
}

#reset {
  height: 90px;
  width: 150px;
  margin-left: 40px;

  font-size: x-large;
  font-family: monospace;
  border: 5px solid grey;
  border-radius: 5px;
  background-color: rgb(5, 136, 5);


}

#score {
  font-size: xx-large;
  margin-left: 55px;
  margin-bottom: 20px;
  font-family: monospace;
  color: rgb(16, 185, 16);


}

#game-over {
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: xx-large;
  color: rgb(16, 185, 16);
}

h1 {
  font-family: monospace;
  color: rgb(16, 185, 16);
}

#home {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  font-family: monospace;
  font-size: xx-large;
}