body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#game-display {
  display: grid;
  height: 80vmin;
  width: 80vmin;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  background-color: aqua;
  border: 5px solid black;

}

#game-info {
  display: grid;
  height: 80vmin;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);

  border: 5px solid rebeccapurple;
}

.snakeBody {
  background-color: chartreuse;
  border: 5px solid black;
}

.upgrade {
  background-color: crimson;
}

#reset {
  height: 90px;
  width: 150px;
  margin-left: 50px;
  margin-bottom: 200px;

}

#score {
  font-size: x-large;
  margin-left: 90px;
  margin-bottom: 20px;

}

#buttons {
  display: flex;
  margin-left: 40px;
  width: 150px;

}

.speed {

  font-family: monospace;
  background-color: chocolate;


}


#game-over {
  display: flex;
  justify-content: center;
}